h1,p,body {
    margin: 0;
}
p,a {
    font-size: 20px;
}

header {
    margin-bottom: 20px;
    background-color: rgb(244,79,79);
}
h1 {
    color: rgb(255,255,255);
    text-align: center;
}
#parent {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    max-width: 1000px;
}
.contents {
    width: 30%;
    border: 3px solid rgb(238,204,204);
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 30px;
}
.contents p:nth-child(3)::first-letter{
    font-weight: bold;
    color: rgb(97,206,249);
}
h2 {
    width: 100%;
    font-size: 25px;
    border-bottom: 3px dotted rgb(239, 111, 139);
}
h2::before {
    content:"⚫︎" ;
    color: rgb(239,111,139);
}
.contents img {
    margin: 15px 0px;
    width: 70%;
}
footer {
    background-color: rgb(244,79,79);
    text-align: center;
    padding: 10px 0;
}
footer a {
    color: rgb(255,255,255);
}
footer a:visited {
    color: rgb(193,234,251);
}
footer a:hover {
    color: rgb(245,178,168);
}
@media screen and (max-width: 768px) {
    h2 {
        font-size: 30px;
    }
    p {
        font-size: 25px;
    }
    #parent {
        display: block;
    }
    .cotents {
        width: 90%;
        margin: 20px auto;
    }
} 
