html{
    text-align: center;
}
body{
    font-family: "Arial","Meiryo",sans-serif;
}
:root{
    font-size: 20px;
}
h1{
    font-size: 40px;
     font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 48px;
  border-bottom: 3px solid rgb(115,115,114);
  text-shadow: 2px 2px 5px gray
}
.blue{
    color: skyblue
}
.pink{
    color: rgb(255,192,203)
}
p{
    font-weight: 400;
}
#basic p{
    font-weight: bold;
}