#top{
    width: 800px;
    background-color: #dcc9f4;
    margin: 20px auto;
    text-align: center;
}
.top-child{
    width: 160px;
    background-color: #ffd9df;
    display:inline-block;
}
#middle{
    position: relative;
    width: 800px;
    height: 800px;
    margin: 20px auto;
    background: #ffd9df;
}
#middle-child01,#middle-child02,#middle-child03{
    width: 200px;
    height: 200px;
    position: absolute;
    background-color: #87ceeb;
}
#middle-child01{
    top: 100px;
    left: 100px;
}
#middle-child02{
    top: 300px;
    left: 300px;
}
 #middle-child03{
    top: 500px;
    left: 500px;
 }
 #bottom{
    position: relative;
    width: 800px;
    height: 300px;
    margin: 0 auto;
    background-color: #87ceeb; 
 }
 #bottom-child01,#bottom-child02,#bottom-child03{
    width: 400px;
    height: 100px;
    background-color: #e5dcf0;
    position: absolute;
 }
    #bottom-child01{
    top: 0;
    left: 0;
 }
 #bottom-child02{
    left: 200px;
    top: 100px;
 }
 #bottom-child03{
    left: 400px;
    top: 200px;
 }